{% block site_header %}
  <header class="site-header header">
    <div class="site-header__inner fix-width full-width">

      {# page.branding #}
      {% if page.branding %}
          <div class="site-header__brand-wrapper">
            {% include '@organisms/branding/branding.html.twig' %}
          </div>
      {% endif %}

      {# page.navigation #}
      {% if page.navigation %}
          <div class="site-header__nav-wrapper">
            {% include '@organisms/navigation/navigation--main.html.twig' %}
          </div>
      {% endif %}

      {# page.header #}
      {% if page.focus %}
          <div class="site-header__focus-wrapper">
            {% include '@organisms/focus/focus.html.twig' %}
          </div>
      {% endif %}

    </div>
  </header>
{% endblock site_header %}
