// font family import
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,400;8..144,700&family=Roboto+Mono:wght@100;400;700&family=Roboto+Slab:wght@100;400;700&family=Roboto:wght@100;400;700&display=swap')

// @import "nib"

// core: source stylesheet
@import "00-core/_core.source.styl"

// atoms: source stylesheet
@import "01-atoms/_atoms.source.styl"

// molecules: source stylesheet
@import "02-molecules/_molecules.source.styl"

// organisms: source stylesheet
@import "03-organisms/_organisms.source.styl"

// symbiosis: source stylesheet
// @import "04-symbiosis/_symbiosis.source.styl"

// synergy: source stylesheet
// @import "05-synergy/_synergy.source.styl"
