button,
.button,
    &.button
      background-color bg-color
      border solid 4px bg-color
      color white
      display flex
      place-items center
      cursor pointer

        &:hover,
        &:focus
            background-color lighten(bg-color, 25%)