body
    &.page-user
        &.anonymous
            header
                border-top 0.5rem solid

                .site-header__brand-wrapper
                    min-height 12rem
                    margin-inline auto
                    place-items end
                    margin-bottom 2rem

                    .region--branding                    
                        .block-system-branding-block
                            flex-direction column
                            max-height 8rem

            main
                min-width 25rem
                max-width 62.5rem
                margin-inline auto

                section.site-content
                    min-height calc(100% - 12rem)
                    display flex
                    flex-direction column
                    place-content center
                    gap gap
