&.page-user
    &.anonymous
        main
            section.site-content
                min-height 18rem
                justify-self center
                align-self self-start
                display grid
                grid-gap 1rem 1.5rem
                max-width max-content
                min-width 25.5rem