{% extends '@symbiosis/page/page.html.twig' %}

{% block banner %}{% endblock banner %}

{% block main %}
  <main role="main" class="site-main">
    <a id="main-content" tabindex="-1" class="visually-hidden"></a>
    
      {% include '@synergy/user_entry/user_entry__main/user-entry__main.html.twig' %}
    
  </main>
{% endblock main %}

{% block footer %}{% endblock footer %}