{% extends '@symbiosis/page/page.html.twig' %}

{% block main %}
  <main role="main" class="site-main main wrapper__block">
    <a id="main-content" tabindex="-1" class="visually-hidden"></a>
    {% include '@organisms/main/main--page-blog.html.twig' %}
  </main>
{% endblock main %}