color-white                     = #ffffff
color-white-010                 = darken(#ffffff, 10%)
color-white-020                 = darken(#ffffff, 20%)

color-black                     = #000000
color-black-010                 = lighten(#000000, 10%)
color-black-020                 = lighten(#000000, 20%)

color-yellow                    = #efd100
color-yellow-light-010          = lighten(#efd100, 10%)
color-yellow-light-020          = lighten(#efd100, 20%)
color-yellow-dark-010           = darken(#efd100, 10%)
color-yellow-dark-020           = darken(#efd100, 20%)

color-orange                    = #ffab00
color-orange-light-010          = lighten(#ffab00, 10%)
color-orange-light-020          = lighten(#ffab00, 20%)
color-orange-dark-010           = darken(#ffab00, 10%)
color-orange-dark-020           = darken(#ffab00, 20%)
