// font-sizes
font-const          = 1.202
font-000            = 1rem
font-001            = font-const * font-000
font-002            = font-const * font-001
font-003            = font-const * font-002
font-004            = font-const * font-003
font-005            = font-const * font-004
font-006            = font-const * font-005
font-007            = font-const * font-006
font-008            = font-const * font-007
font-009            = font-const * font-008
font-010            = font-const * font-009

// font stacks
font-stack__base    = 'Roboto', sans-serif, ui-sans-serif
font-stack__mono    = 'Roboto Mono', monospace, ui-monospace
font-stack__slab    = 'Roboto Slab', serif, ui-serif