{% extends '@organism/main/main.html.twig' %}

{% block highlight %}{% endblock highlight %}
{% block hero %}{% endblock hero %}

{% block content %}
    <section id="site-content" class="site-content wrapper wrapper__inline wrapper__block has-shadow">

        <h1 class="page-title">{{ global_variables.current_page_title }}</h1>
        {{ page.content }}

    </section>
{% endblock %}
